.copyright
	Code at Github: <a class=lightlink href='https://github.com/seanyen0507/NBA_catcher'>NBA Catcher</a>
	%br
	Based on: <a class=lightlink href='https://github.com/seanyen0507/web_scraper'>Web Scraper</a> by <a class=lightlink href='https://github.com/seanyen0507'>Seanyen</a> , <a class=lightlink href='https://github.com/hsuchinwang'>SamWang</a> and <a class=lightlink href='https://github.com/poweihuang'>PoWei</a>