%head
  %script{:src => '//www.google.com/jsapi', :type => 'text/javascript'}
  %script{:src => '/chartkick.js', :type => 'text/javascript'}

.container

  %form{action: '/nba', method: 'get', id: 'user-form'}
    %input{type: 'text', name: 'playername', id: 'home-form-username', placeholder: 'playername here...'}
    %input{type: 'submit', id: 'home-form-submit', class: 'submit', value: 'submit'}
  %p

  -if @nba
    = bar_chart @leader, id: "difference", height: "300px"
    %table{class: 'center'}
      %tbody
        %tr
          %th Box-score
          %th Record
        -@nba['profiles'].each do |profile|
          %tr
            %td
              = profile['Box-score']
            %td{width: '300'}
              = profile['Record']
